<html>
  <body>
 <br/>
  #if (${authHelper.authToken})
  	User logged in! - $!{user.name}/ $!{authHelper.authToken}
  #else
  	User not logged in!
  #end
  <p/>
  Found group: $group.name
  </body>
</html>
