<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
<!--
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/mycrm?useUnicode=true&amp;characterEncoding=gbk</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root123</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
-->	
<!-- HSQL Server Mode -->
	<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
	<property name="connection.url">jdbc:hsqldb:hsql://localhost/discuss</property>
	<property name="connection.username">sa</property>
	<property name="connection.password"></property>
	<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
<!-- -->
<!-- HSQL File Mode
	<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
	<property name="connection.url">jdbc:hsqldb:file:d:/mywork/demo/data/mycrm</property>
	<property name="connection.username">sa</property>
	<property name="connection.password"></property>
	<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
-->	
<!--
#hibernate.dialect net.sf.hibernate.dialect.Oracle9Dialect
#hibernate.dialect net.sf.hibernate.dialect.OracleDialect
#hibernate.connection.driver_class oracle.jdbc.driver.OracleDriver
#hibernate.connection.username ora
#hibernate.connection.password ora
#hibernate.connection.url jdbc:oracle:thin:@localhost:1521:test
<property name="connection.datasource">java:comp/env/jdbc/kickstart</property>
#hibernate.jdbc.fetch_size 25
## set the maximum JDBC 2 batch size (a nonzero value enables batching)
-->


<property name="connection.pool_size">5</property>
<property name="jdbc.fetch_size">5</property>
<property name="jdbc.batch_size">15</property>

<!-- 
<property name="connection.isolation">4</property>
-->

<property name="show_sql">true</property>
<!-- 
<property name="cache.provider_class">net.sf.hibernate.cache.HashtableCacheProvider</property>
-->
<!-- Mapping files -->
<!-- 
<mapping resource="com/nonsoft/mycrm/employee/impl/user.hbm.xml"/>
-->
<!-- 
<mapping resource="map/mycrm.hbm.xml"/>
-->
</session-factory>
</hibernate-configuration>
