<div id="main">
<h1>Edit the topic/message - ${edit.title}</h1>
<div id="content" class="wiki">
<form class="postForm" method="post" id="postForm">
	<fieldset class="iefix">
	<table>
		<tr><td>Title:</td><td><input type="text" name="title" value="$!form.title.value" size="108"/>$!{form.title.errorMessage}</td></tr>
		<tr><td>Body:</td><td><textarea name="body" class="wikitext" cols="80" rows="20">$!form.body.value</textarea>$!{form.body.errorMessage}<td/></tr>
	</table>
	<input type="hidden" name="form" value="postForm" />
	<input type="hidden" name="event" />
	<div class="buttons">
	<input type="submit" value="Submit"/><input type="button" value="Preview"/><input type="button" value="Cancel" onclick="postForm.event.value='cancel';postForm.submit()"/>
	</div>
	</fieldset>
</form>
</div>

</div>